* {
    box-sizing: border-box;
}

body {
    color: #1E2835;
    background-color: #F8F8F8;
    font-size: 1.5em;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main {
    display: none;
    color: #000;
}

h1 {
    background-color: #990000;
    margin: 0 0 20px 0;
    padding: 20px;
    text-align: center;
    color: #fff;
}

#top-message {
    text-align: center;
    padding: 10px;
}

.last-guess {
    width: 300px;
    height: 100px;
    margin: 10px auto;
}

#guess {
    display: none;
}

#word {
    display: none;
}

#correct-guess {
    display: none;
}

canvas {
    width: 800px;
    height: 600px;
    border: 1px #C7CACD solid;
    display: block;
    margin: 0 auto;
}


/* Login Page */

.login-page {
    background-color: #000;
    height: 100%;
    position: absolute;
    width: 100%;
}

.login-page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login-page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login-page .title {
    font-size: 200%;
}

.login-page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login-page .title,
.login-page .usernameInput {
    color: #fff;
    font-weight: 100;
}